flow.json
[{"id":"b5bc49df.46aec8","type":"tab","label":"SocketIO2Unity","disabled":false,"info":""},{"id":"8f217388.320b2","type":"socketio-config","z":"","port":"3000","sendClient":"true","path":"/socket.io","bindToNode":false},{"id":"a7951567.386718","type":"socketio-in","z":"b5bc49df.46aec8","name":"","server":"8f217388.320b2","rules":[{"v":"client connected"},{"v":"weather received"}],"x":119.7926025390625,"y":234.36646270751953,"wires":[["44919cd9.074af4"]]},{"id":"44919cd9.074af4","type":"debug","z":"b5bc49df.46aec8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":321.7897491455078,"y":234.52554321289062,"wires":[]},{"id":"a9a3d095.a4ada","type":"function","z":"b5bc49df.46aec8","name":"weather reading","func":"weather = msg.payload,weather;\n\nmsg.payload = {weather: weather};\nmsg.socketIOEvent = 'weather';\n\n//RED.util.setMessageProperty(msg, \"socketIOEmit\", \"broadcast.emit\", true);\n//msg.socketIOEmit = 'broadcast.emit';\n\nreturn msg;","outputs":1,"noerr":0,"x":329.79258728027344,"y":171.1278305053711,"wires":[["2c5bb983.a6ab36"]]},{"id":"2c5bb983.a6ab36","type":"socketio-out","z":"b5bc49df.46aec8","name":"","server":"8f217388.320b2","x":518.7840614318848,"y":170.90341472625732,"wires":[]},{"id":"1c438f34.5b0611","type":"wunderground in","z":"b5bc49df.46aec8","name":"","lon":"","lat":"","city":"London","country":"England","x":121.79259490966797,"y":171.22159576416016,"wires":[["a9a3d095.a4ada","1da5965c.5dcc2a"]]},{"id":"1da5965c.5dcc2a","type":"debug","z":"b5bc49df.46aec8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":319.7840824127197,"y":106.25282859802246,"wires":[]}]